{{ "sorting.css" | asset_url | stylesheet_tag }}

<select id="sorting" class="sorting-select" default-value="{{ default_value }}">
  {% for option in options %}
    {%  assign option_parts = option | split: ":" %}
    {%  assign value = option_parts[0] %}
    {%  assign label = option_parts[1] %}
    <option value="{{ value }}">{{ label }}</option>
  {% endfor %}
</select>