{{ "account.css" | asset_url | stylesheet_tag }}

<div class="account">
  <h3 class="account__title">{{ "auth.recover_password.change_password" | user_t }}</h3>

  <div class="account__divider">
    {{ "auth.recover_password.instructions" | user_t }}
  </div>

  {% form 'edit_password' %}
    {%- assign password_label = "auth.fields.password" | user_t -%}
    {%- assign password_confirmation_label = "auth.fields.password_confirmation" | user_t -%}
    {%- assign button_label = "auth.recover_password.change_password" | user_t -%}
    {%- render 'form-password-session-pages',
        form: form,
        form_name: "edit_password",
        password_label: password_label,
        password_confirmation_label: password_confirmation_label,
        button_label: button_label
    -%}
  {% endform %}
</div>

{% schema %}
  {
    "name": "Edit password form",
    "important": true,
    "unique": true,
    "templates": ["edit-password"],
    "settings": []
  }
{% endschema %}
