/* Toggle and expand styles */
.list-menu__item [id^="sidebar-navigation-menu-child-"],
.list-menu__item [id^="sidebar-navigation-menu-grandchild-"] {
  display: none;
}

.list-menu__item [id^="sidebar-navigation-menu-child-"]:checked ~ .list-submenu,
.list-menu__item [id^="sidebar-navigation-menu-grandchild-"]:checked ~ .list-submenu {
  max-height: 100vh;

  transition: max-height 200ms;
}

[id^="sidebar-navigation-menu-child-"]:checked + .list-menu__item-wrapper .list-menu__item-caret,
[id^="sidebar-navigation-menu-grandchild-"]:checked + .list-menu__item-wrapper .list-menu__item-caret {
  transform: rotate(180deg);
}

.sidebar-toggle {
  appearance: none;
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.sidebar-navigation {
  position: relative;

  background-color: var(--color-primary-background);
}

.sidebar-navigation__header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.sidebar-navigation__close {
  padding: 16px 24px;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
}

.sidebar-navigation-menu__title {
  font-size: 16;
  line-height: 24px;
  color: var(--color-primary-foreground);
  margin-bottom: 8px;
}

.sidebar-navigation__close i {
  font-size: 16px;

  color: var(--color-primary-foreground);
}

.sidebar-navigation__title {
  font-size: 18px;
  line-height: 28px;

  font-weight: var(--font-weight-semibold);

  color: var(--color-primary-foreground);
}

.sidebar-navigation-menu:not(:first-child) {
  padding: 16px 0;
}

.sidebar-navigation .list-menu > .list-menu__item:first-child {
  border-top: none;
}

.sidebar-navigation .list-menu .list-menu__item .list-menu__item-wrapper {
  display: flex;
  align-items: center;
}

.sidebar-navigation .list-menu__item-caret {
  font-size: 20px;
}

.sidebar-navigation .list-submenu .list-menu__item-caret {
  margin-left: auto;
}

.sidebar-navigation .list-submenu__container {
  background-color: var(--color-primary-background);
}

.sidebar-navigation .list-menu label {
  margin-right: 6px;
}

.sidebar-navigation .list-menu .list-menu__item-caret {
  cursor: pointer;
}

.sidebar-navigation-menu__link {
  flex: 1;
  font-size: 16px;
  line-height: 24px;

  color: var(--color-primary-foreground);

  text-decoration: none;
}

.sidebar-navigation-menu__link--with-children {
  font-weight: 600;
}

.sidebar-navigation-menu__item-count {
  margin-left: 6px;

  font-size: 16px;
  line-height: 24px;

  color: var(--color-grey-dark);
}

.sidebar-navigation-menu__link--current {
  font-weight: var(--font-weight-semibold);
}

.sidebar-navigation-menu__link:hover {
  text-decoration: underline;
  text-decoration-color: var(--color-primary-foreground);
}

.sidebar-navigation-menu__cleanstate {
  display: flex;

  margin-bottom: 8px;
}

.sidebar-navigation-menu__cleanstate:nth-of-type(1) {
  width: 40%;
}

.sidebar-navigation-menu__cleanstate:nth-of-type(2) {
  width: 30%;
}

.sidebar-navigation-menu__cleanstate:nth-of-type(3) {
  width: 55%;
}

.sidebar-navigation-menu__cleanstate:nth-of-type(4) {
  width: 35%;
}

.sidebar-navigation .list-menu > .list-menu__item {
  padding: 8px 0;
}

.sidebar-navigation .list-submenu > .list-menu__item {
  padding: 8px 0;
}

.sidebar-navigation
  .list-menu
  .list-submenu
  .list-submenu
  > .list-menu__item:last-child {
  padding-bottom: 0;
}
.sidebar-navigation .list-submenu {
  padding-left: 16px;
}

.sidebar-navigation .list-submenu .list-submenu {
  padding-left: 16px;
}

@media (max-width: 990px) {
  .sidebar-navigation {
    position: fixed;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    width: 100vw;
    height: 100vh;

    visibility: hidden;
    pointer-events: none;
    opacity: 0;

    z-index: 1000;

    background-color: var(--color-backdrop);

    transition: visibility 0s linear 250ms, opacity 150ms;
  }

  .sidebar-navigation.sidebar-navigation--open {
    visibility: visible;
    pointer-events: all;

    opacity: 1;

    transition: visibility 0s linear 0s, opacity 150ms;
  }

  .sidebar-navigation.sidebar-navigation--open .sidebar-navigation__wrapper {
    top: 30px;

    transition: top 250ms;
  }

  .sidebar-navigation__wrapper {
    position: relative;

    top: 100%;
    left: 0;
    right: 0;
    bottom: 0;

    height: calc(100vh - 30px);

    background-color: var(--color-primary-background);

    border-top-left-radius: 8px;
    border-top-right-radius: 8px;

    transition: top 250ms;
  }

  .sidebar-navigation__inner {
    height: 100%;

    padding: 0 0 35px;

    overflow-y: auto;
  }

  .sidebar-navigation .list-menu__item {
    padding: 12px 0;
  }

  .sidebar-navigation .list-menu > .list-menu__item {
    border-bottom: 1px solid var(--color-grey-light);

    padding: 12px var(--horizontal-padding);
  }

  .sidebar-navigation .list-menu .list-submenu .list-submenu > .list-menu__item {
    padding: 12px var(--horizontal-padding);
  }

  .sidebar-navigation .list-menu .list-submenu > .list-menu__item:first-child {
    padding-top: 24px;
  }

  .sidebar-navigation .list-submenu .list-submenu {
    padding-left: 0;
  }

  .sidebar-navigation-menu__title {
    padding: 0 var(--horizontal-padding);
  }

  .sidebar-navigation-menu__cleanstate {
    margin-left: var(--horizontal-padding);
  }
}
